@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*variables*/
/*--------------------*/
/*mixins*/
/*--------------------*/
/*variables*/
/*--------------------*/
/*mixins*/
/*--------------------*/
/*footer*/
.footer {
  display: flex;
  justify-content: center;
  padding: 48px 0 24px;
  background: #6725a8;
  color: #fff;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
@media (max-width: 768px) {
  .footer {
    padding: 48px 0 80px;
  }
}
.footer::before {
  content: "";
  display: block;
  background: #f6f6fa;
  border-radius: 0 0 24px 24px;
  width: 100%;
  height: 24px;
  position: absolute;
  top: -1px;
  left: 0;
}

/*--------------------*/
/*variables*/
/*--------------------*/
/*mixins*/
/*--------------------*/
/*header*/
.header {
  display: flex;
  justify-content: center;
  padding: 16px 0 40px;
  background: #6725a8;
  color: #fff;
  position: relative;
}
.header::after {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  border-radius: 24px 24px 0 0;
  background: #f6f6fa;
  position: absolute;
  bottom: -1px;
  left: 0;
}
@media (max-width: 768px) {
  .header {
    padding: 14px 0 38px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
  height: 56px;
  max-width: 1504px;
  padding: 0 24px;
}
@media (max-width: 768px) {
  .header__container {
    gap: 0;
    padding: 0 13px;
    height: auto;
  }
}
.header__search-catalog {
  flex: 1 1 auto;
}
@media (max-width: 768px) {
  .header__search-catalog {
    flex: 0 1 auto;
  }
}
.navbar-element {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  .navbar-element {
    gap: 20px;
  }
}
.navbar-element__burger {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
@media (max-width: 768px) {
  .navbar-element__burger {
    border: none;
    width: 28px;
    height: 28px;
  }
}
.navbar-element__burger-line {
  width: 28px;
  height: 4px;
  border-radius: 4px;
  position: relative;
  display: block;
  background: #fff;
}
.navbar-element__burger-line::after, .navbar-element__burger-line::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: block;
  background: #fff;
  border-radius: 4px;
}
.navbar-element__burger-line::after {
  bottom: -10px;
}
.navbar-element__burger-line::before {
  top: -10px;
}
@media (max-width: 768px) {
  .navbar-element__burger-line {
    width: 22.5px;
    height: 2.5px;
    border-radius: 2.5px;
  }
  .navbar-element__burger-line::after, .navbar-element__burger-line::before {
    border-radius: 2.5px;
    height: 100%;
  }
  .navbar-element__burger-line::after {
    width: 16.5px;
    bottom: -8px;
  }
  .navbar-element__burger-line::before {
    width: 100%;
    top: -8px;
  }
}
.navbar-element__logo {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  font-variant: all-small-caps;
  letter-spacing: 2.5px;
  width: 106px;
}
@media (max-width: 768px) {
  .navbar-element__logo {
    font-size: 26px;
    width: auto;
    height: 28px;
    white-space: nowrap;
  }
}

.search-catalog__input:focus,
.search-catalog__input:focus:hover {
  color: #242424;
  background: #fff;
}

.search-catalog {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  padding: 0px 20px;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
@media (max-width: 768px) {
  .search-catalog {
    background: transparent;
    padding: 0;
    border-radius: 0;
    height: 28px;
  }
}
.search-catalog:hover {
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
  .search-catalog:hover {
    background: transparent;
  }
}
.search-catalog:focus-within {
  background: #fff;
}
@media (max-width: 768px) {
  .search-catalog:focus-within {
    background: transparent;
  }
}
.search-catalog:hover .search-catalog__btn-search {
  opacity: 0.5;
}
@media (max-width: 768px) {
  .search-catalog:hover .search-catalog__btn-search {
    opacity: 1;
  }
}
.search-catalog:focus-within .search-catalog__btn-search svg path {
  fill: #9797af;
}
@media (max-width: 768px) {
  .search-catalog:focus-within .search-catalog__btn-search svg path {
    fill: #fff;
  }
}
.search-catalog__input {
  background: transparent;
  flex: 1 1 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}
.search-catalog__input::-moz-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.2;
}
.search-catalog__input::placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.2;
}
.search-catalog__btn-search {
  width: 19.5px;
  height: 20.2px;
  background-color: transparent;
  transition: opacity 0.3s;
  opacity: 0.4;
}
@media (max-width: 768px) {
  .search-catalog__btn-search {
    opacity: 1;
  }
}

.navbar-pc {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar-pc__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}
.navbar-pc__icon {
  width: 28px;
  height: 28px;
}
.navbar-pc__icon-profile {
  background-image: url(../img/icon-profile.svg);
}
.navbar-pc__icon-basket {
  background-image: url(../img/icon-basket.svg);
  position: relative;
}
.navbar-pc__notify {
  display: inline-flex;
  justify-content: center;
  height: 16px;
  min-width: 16px;
  border-radius: 16px;
  padding: 0px 3px;
  background: #f55123;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  position: absolute;
  top: -6px;
  right: -8px;
}

/*--------------------*/
/*variables*/
/*--------------------*/
/*mixins*/
/*--------------------*/
/*navbar-mobile*/
.navbar-mobile {
  background: #fff;
  height: 56px;
  padding: 0 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
.navbar-mobile__link {
  position: relative;
  width: 28px;
  height: 28px;
  background: #fff;
}
.navbar-mobile__link_active path {
  fill: #cb11ab;
}
.navbar-mobile__notify {
  display: inline-flex;
  justify-content: center;
  height: 16px;
  min-width: 16px;
  border-radius: 16px;
  padding: 0px 3px;
  background: #f55123;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  position: absolute;
  top: -6px;
  right: -8px;
}

/*--------------------*/
/*variables*/
/*--------------------*/
/*mixins*/
/*--------------------*/
/*_basket*/
.basket__title {
  padding-bottom: 23px;
  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: -0.4px;
  padding-top: 3px;
}
@media (max-width: 768px) {
  .basket__title {
    padding: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}
.basket__accordion {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .basket__accordion {
    margin-bottom: 48px;
  }
}

.accordion__header {
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .accordion__header {
    border-bottom: none;
  }
}
.accordion__checkbox {
  display: flex;
}
.accordion__info {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: none;
}
.accordion__info span:last-child::before {
  content: " · ";
}
.accordion__icon {
  cursor: pointer;
  transform-origin: center;
  transition: transform 0.3s;
  padding: 3px 2px;
}
.accordion__icon:hover path {
  fill: #000000;
}
.accordion__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: height 0.5s;
}
@media (max-width: 768px) {
  .accordion__body {
    gap: 16px;
  }
}
.accordion__item {
  padding-top: 12px;
}
@media (max-width: 768px) {
  .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1019607843);
  }
}
.accordion_close .accordion__checkbox {
  display: none;
}
.accordion_close .accordion__info {
  display: block;
}
.accordion_close .accordion__icon {
  transform: rotate(180deg);
}
.accordion_close .accordion__body {
  display: none;
}

.accordion.not-available {
  margin-top: -5px;
}
@media (max-width: 768px) {
  .accordion.not-available {
    margin-top: 0;
    margin-bottom: 35px;
  }
}
.accordion.not-available .accordion__checkbox {
  display: none;
}
.accordion.not-available .accordion__info {
  display: block;
}
.accordion.not-available .accordion_close .accordion__checkbox {
  display: none;
}
.accordion.not-available .accordion_close .accordion__info {
  display: block;
}
@media (max-width: 768px) {
  .accordion.not-available .good-info {
    grid-area: B;
  }
}
.accordion.not-available .good-info__name {
  color: #9797af;
  max-width: 309px;
}
.accordion.not-available .good-info__properties {
  color: #9797af;
}
@media (max-width: 768px) {
  .accordion.not-available .item__btn-wrap {
    justify-content: flex-end;
  }
}

.item {
  display: grid;
  grid-template-columns: 106px auto 100px 110px;
  align-items: flex-start;
  gap: 16px;
}
.item:hover .item__btn {
  opacity: 1;
}
@media (max-width: 768px) {
  .item {
    grid-template-columns: 80px auto;
    grid-template-areas: "A B  " "A C " "D D ";
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 0;
  }
}
@media (max-width: 768px) {
  .item__checkbox {
    position: absolute;
    top: 4px;
    left: 4px;
  }
  .item__checkbox .checkbox__decor {
    background: #fff;
  }
  .item__checkbox.checkbox_active .checkbox__decor {
    width: 22px;
    height: 22px;
    border: none;
    background: url(../img/checkbox.svg);
  }
}
.item__wrap {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .item__wrap {
    grid-area: A;
  }
}
.item__img {
  height: 96px;
}
.item__img img {
  height: 100%;
}
@media (max-width: 768px) {
  .item__img {
    height: 106px;
  }
}
.item__size-mobile {
  width: 22px;
  height: 22px;
  border-radius: 6px;
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .item__size-mobile {
    position: absolute;
    bottom: 4px;
    left: 4px;
  }
}
@media (max-width: 768px) {
  .item__good-info {
    grid-area: C;
  }
}
.item__btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
@media (max-width: 768px) {
  .item__btn-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
    grid-area: D;
    padding-top: 12px;
  }
}
.item__limit {
  width: 100%;
  color: #f55123;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  display: inline-flex;
}
@media (max-width: 768px) {
  .item__limit {
    justify-content: center;
  }
}
.item__btn {
  opacity: 0;
  transition: opacity 0.8s;
}
.item__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
@media (max-width: 768px) {
  .item__price {
    grid-area: B;
    flex-direction: row;
    align-items: center;
  }
}
.item__price-new {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.item__price-new_big {
  font-size: 20px;
}
@media (max-width: 768px) {
  .item__price-new_big {
    font-size: 16px;
  }
}
.item__price-old {
  display: inline-flex;
  color: #9797af;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  border-bottom: 1px dashed #9797af;
  text-decoration: line-through;
  cursor: pointer;
}
.item__price-wrap {
  position: relative;
}
.item__price-wrap:hover .item__discount-popup {
  display: flex;
}
.item__discount-popup {
  display: none;
  position: absolute;
  right: -9px;
  margin-top: 9px;
  background: #fff;
  border-radius: 8px;
  padding: 11px 16px 13px;
  flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  white-space: nowrap;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.item__discount-key {
  color: #a0a0a4;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.item__discount-value {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}
.item__discount-currency {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
}

.good-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.good-info__name {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #000000;
  max-width: 275px;
}
@media (max-width: 768px) {
  .good-info__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.good-info__properties {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  display: flex;
  gap: 16px;
}
.good-info__item {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
}
.good-info__store {
  color: #9797af;
}
.good-info__seller {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #9797af;
  margin-top: -4px;
}
.seller-info {
  position: relative;
  height: 16px;
}
.seller-info__icon {
  display: inline-block;
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-image: url(../img/seller-info.svg);
  background-position: center;
}
.seller-info__popup {
  display: none;
  position: absolute;
  top: 25px;
  left: 10px;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 8px;
  padding: 6px 16px 18px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  flex-direction: column;
  gap: 8px;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  width: 280px;
}
.seller-info__name {
  font-weight: 700;
}
.seller-info:hover .seller-info__popup {
  display: flex;
}

.count {
  width: 100px;
  height: 44px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 0 4px;
}
.count__minus {
  width: 24px;
  padding: 2px 7px 6px 8px;
  background: #fff;
  font-size: 20px;
}
.count__numeric {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
  width: 44px;
}
.count__plus {
  width: 24px;
  padding: 2px 7px 6px 8px;
  background: #fff;
  font-size: 20px;
}
.count__limit {
  color: rgba(0, 0, 0, 0.1019607843);
  cursor: default;
}
.count__numeric::-webkit-outer-spin-button, .count__numeric::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 768px) {
  .count {
    width: 80px;
    height: 32px;
  }
  .count__numeric {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 32px;
  }
}

.btn {
  display: flex;
  gap: 16px;
}
@media (max-width: 768px) {
  .btn {
    gap: 24px;
    padding-right: 12px;
  }
}
.btn span {
  font-size: 0;
}
.btn__postpone {
  background: transparent;
}
.btn__postpone:hover path {
  stroke: #cb11ab;
}
.btn__postpone_active path {
  fill: #cb11ab;
  stroke: #cb11ab;
}
.btn__del {
  background: transparent;
}
.btn__del:hover path {
  fill: #f55123;
}

/*--------------------*/
/*variables*/
/*--------------------*/
/*mixins*/
/*--------------------*/
/*_basket-form*/
.basket-form {
  display: flex;
  flex-direction: row;
  gap: 32px;
  color: #000000;
  max-width: 1504px;
  margin: 0 auto;
  padding: 0 24px;
}
@media (max-width: 1023px) {
  .basket-form {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .basket-form {
    position: relative;
    top: -10px;
    padding: 0 16px;
    gap: 16px;
  }
}
.basket-form__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.basket-form__basket-section {
  background: #fff;
  border-radius: 16px;
  padding: 16px 24px 24px 24px;
  margin-bottom: 16px;
}
.basket-form__basket-section:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .basket-form__basket-section {
    margin-left: -16px;
    margin-right: -16px;
    padding: 16px 16px 24px 16px;
  }
}
.basket-form__sidebar-wrap {
  position: relative;
  top: -10px;
}
@media (max-width: 768px) {
  .basket-form__sidebar-wrap {
    top: auto;
    margin-left: -16px;
    margin-right: -16px;
  }
}
.basket-form__sidebar {
  background: #fff;
  border-radius: 16px;
  width: 429px;
  padding: 16px 24px 24px 24px;
}
@media (max-width: 1399px) {
  .basket-form__sidebar {
    width: 303px;
  }
}
@media (max-width: 1023px) {
  .basket-form__sidebar {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .basket-form__sidebar {
    padding: 5px 16px 6px 16px;
    background: transparent;
  }
}

.basket-section__header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.basket-section__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.7px;
}
@media (max-width: 768px) {
  .basket-section__title {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}
.basket-section__btn-change {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #cb11ab;
}

.basket-delivery {
  display: grid;
  grid-template-areas: "A A" "B C" "D E" "F J" "H H";
  row-gap: 16px;
  -moz-column-gap: 28px;
       column-gap: 28px;
  grid-template-columns: 157px auto;
}
@media (max-width: 768px) {
  .basket-delivery {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
.basket-delivery .basket-section__header {
  grid-area: A;
}
@media (max-width: 768px) {
  .basket-delivery .basket-section__header {
    padding-bottom: 8px;
  }
}
.basket-delivery__pickup {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.basket-delivery__pickup-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  grid-area: B;
}
.basket-delivery__pickup-wrap {
  grid-area: C;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (max-width: 768px) {
  .basket-delivery__pickup-wrap {
    padding-bottom: 16px;
  }
}
.basket-delivery__pickup-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
}
.basket-delivery__pickup-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
}
.basket-delivery__star-icon {
  padding-right: 4px;
}
.basket-delivery__rating {
  padding-right: 8px;
}
.basket-delivery__cost {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.basket-delivery__cost-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  grid-area: D;
}
.basket-delivery__cost-value {
  grid-area: E;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
}
@media (max-width: 768px) {
  .basket-delivery__cost-value {
    padding-bottom: 16px;
  }
}
.basket-delivery__product-date {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.basket-delivery__date-range {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
@media (max-width: 768px) {
  .basket-delivery__date-range {
    padding-bottom: 12px;
  }
}
.basket-delivery__products-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .basket-delivery__products-list {
    padding-bottom: 24px;
  }
}
.basket-delivery__product {
  position: relative;
}
.basket-delivery__product-image {
  height: 56px;
}
.basket-delivery__product-count {
  display: inline-flex;
  justify-content: center;
  height: 16px;
  min-width: 16px;
  border-radius: 16px;
  padding: 0px 3px;
  background: #f55123;
  color: #fff;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 18px;
  position: absolute;
  top: -6px;
  right: -4px;
}
.basket-delivery__return-policy {
  margin-top: 8px;
  grid-column: span 2;
}
@media (max-width: 768px) {
  .basket-delivery__return-policy {
    margin-top: 0;
  }
}

.basket-payment .basket-section__header {
  padding-bottom: 16px;
}
@media (max-width: 768px) {
  .basket-payment .basket-section__header {
    padding-bottom: 8px;
  }
}
.basket-payment__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
  gap: 8px;
  padding-bottom: 8px;
}
.basket-payment__card-details {
  padding-right: 4px;
}
.basket-payment__payment-info {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  color: #9797af;
}

.basket-recipient {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.basket-recipient__input-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  max-width: 700px;
}
@media (max-width: 768px) {
  .basket-recipient__input-wrap {
    flex-direction: column;
  }
}
.basket-recipient__input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.basket-recipient__label {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  padding-bottom: 2px;
  color: #9797af;
  visibility: hidden;
}
.basket-recipient__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 4px;
}
.basket-recipient__input.error {
  color: #f55123;
  border-bottom: 1px solid #f55123;
}
.basket-recipient__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #9797af;
}
.basket-recipient__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: #9797af;
}
.basket-recipient__error {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #f55123;
}

.return {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.return__link {
  display: inline-flex;
  color: #0cb477;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
  position: relative;
  cursor: pointer;
}
.return__link:hover .return__tooltip {
  display: flex;
}
.return__tooltip {
  border-radius: 8px;
  display: none;
  background: #fff;
  width: 288px;
  padding: 10px 16px 14px 16px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 25px;
  left: 10px;
  transform: translateX(-50%);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  color: #000000;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .return__tooltip {
    left: -25px;
  }
}

/*--------------------*/
/*variables*/
/*--------------------*/
/*mixins*/
/*--------------------*/
/*sidebar*/
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 768px) {
  .sidebar {
    gap: 16px;
  }
}
.sidebar__price-block {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
}
.sidebar__new-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.7px;
  padding-bottom: 8px;
}
@media (max-width: 768px) {
  .sidebar__new-price {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}
.sidebar__new-price-value span:last-child {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
}
.sidebar__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sidebar__discount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sidebar__delivery-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sidebar__order {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidebar__order-btn {
  height: 44px;
  padding-bottom: 5px;
  width: 100%;
  background: #cb11ab;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}
.sidebar__order-btn_checkted {
  display: none;
}
.sidebar__agreement {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  display: flex;
  gap: 8px;
}

.delivery {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.delivery__type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 768px) {
  .delivery__type {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
.delivery__days span {
  color: #cb11ab;
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}
.delivery__return-policy {
  margin-top: 8px;
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  background: #f6f6fa;
}
@media (max-width: 768px) {
  .delivery__return-policy {
    background: #f0ecf4;
    margin-top: 0;
  }
}

.payment {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
}
.payment__type {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .payment__type {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}
.payment__chosen {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 24px;
}
.payment__options {
  padding: 8px 8px 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  background: #f6f6fa;
}
@media (max-width: 768px) {
  .payment__options {
    background: #f0ecf4;
    margin-bottom: 8px;
  }
}
.payment__checkbox .checkbox__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
}
/*--------------------*/
/*variables*/
/*--------------------*/
/*mixins*/
/*--------------------*/
/*popup*/
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(5, 0, 10, 0.3);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 400px;
  min-height: 408px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 0 24px;
  transition: all 0.1s;
}
@media (max-width: 768px) {
  .popup {
    padding: 16px 0;
    width: 100%;
    height: 100%;
  }
}
.popup_delivery {
  width: 500px;
  min-height: 468px;
}
@media (max-width: 768px) {
  .popup_delivery {
    width: 100%;
  }
}
.popup__header {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 13px;
}
@media (max-width: 768px) {
  .popup__header {
    padding: 0 11px 13px 16px;
  }
}
@media (max-width: 768px) {
  .popup__header {
    font-weight: 600;
  }
}
.popup__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.popup__submit-btn {
  height: 44px;
  padding: 0px 48px 5px 48px;
  background: #cb11ab;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
  color: #fff;
  margin: 0 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
@media (max-width: 768px) {
  .popup__submit-btn {
    margin: 0 16px;
    width: calc(100% - 16px - 16px);
  }
}

.payment-option {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  padding: 0 22px;
}
@media (max-width: 768px) {
  .payment-option {
    padding: 0 16px;
  }
}
.payment-option__card {
  display: flex;
  height: 24px;
  gap: 4px;
}
.payment-option__card-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
}
.payment-option__card-expired {
  font-size: 0;
}

.radio-input__item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.radio-input__input {
  display: none;
}
.radio-input__decor {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 4px 0;
}
.radio-input__decor_active {
  border: 5px solid #cb11ab;
}
.radio-input__text {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
}
.radio-input__text svg {
  margin: 2px 0;
}

.delivery-option {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.delivery-option__title {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
}
.delivery-option__list {
  flex: 1;
  padding: 0 22px 49px;
}
@media (max-width: 768px) {
  .delivery-option__list {
    padding: 0 14px 49px;
  }
}
.delivery-option__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.delivery-option__wrap_courier {
  display: none;
}
.delivery-option__pickup-address {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
}
.delivery-option__pickup-info {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delivery-option__rating {
  margin-left: 4px;
}
.delivery-option__text {
  color: #a0a0a4;
  margin-left: 8px;
}

.tabs-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 22px 24px;
  gap: 8px;
  width: 100%;
}
@media (max-width: 768px) {
  .tabs-switch {
    padding: 0 16px 24px;
  }
}
.tabs-switch__item {
  flex: 1 1 0;
  height: 34px;
  border-radius: 20px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs-switch__item_active {
  border: 2px solid #cb11ab;
}
.tabs-switch__input {
  display: none;
}
.tabs-switch__text {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
}

.btn__del span {
  font-size: 0;
}
.btn__del:hover path {
  fill: #f55123;
}

/*--------------------*/
body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.main {
  flex: 1 1 auto;
  background: #f6f6fa;
  position: relative;
  padding: 10px 0 26px;
}
@media (max-width: 768px) {
  .main {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .hide-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .hide-desktop {
    display: none !important;
  }
}

.checkbox input {
  display: none;
}
.checkbox__decor {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 12px;
  background: transparent;
}
.checkbox__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
}
.checkbox_active .checkbox__decor {
  width: 22px;
  height: 22px;
  border: none;
  background: url(../img/checkbox.svg);
}

.checkbox_with-text {
  display: flex;
  align-items: center;
}