@import "_variables";

/*_basket*/

.basket {
  &__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.28px;
    margin-bottom: 27px;
    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.2px;
      margin-bottom: 16px;
    }
  }

  &__accordion {
    margin-bottom: 40px;
  }
}
.accordion {
  &__header {
    padding-bottom: 16px;
    border-bottom: 1px solid $rulers;
    margin-bottom: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__checkbox {
    display: flex;
  }

  &__info {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: none;
    & span:last-child {
      &::before {
        content: " · ";
      }
    }

    &__count {
    }
  }

  &__icon {
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.3s;
    &:hover path {
      fill: $black;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 32px;
    transition: height 0.5s;
    // overflow: hidden;
  }

  &__item {
  }

  &_close {
    .accordion {
      &__checkbox {
        display: none;
      }
      &__info {
        display: block;
      }
      &__icon {
        transform: rotate(180deg);
      }
      &__body {
        display: none;
      }
    }
  }
}

.accordion.not-available {
  .accordion {
    &__checkbox {
      display: none;
    }

    &__info {
      display: block;
    }

    &__item {
    }

    &_close {
      .accordion {
        &__checkbox {
          display: none;
        }
        &__info {
          display: block;
        }
      }
    }
  }
  .good-info {
    &__name {
      color: $gray;
    }

    &__properties {
      color: $gray;
    }
  }
}

.checkbox {
  & input {
    display: none;
  }
  &__decor {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    border: 1px solid $rulers_input;
    margin-right: 12px;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &_active {
    .checkbox__decor {
      width: 22px;
      height: 22px;
      border: none;
      background-image: url(../img/checkbox.svg);
    }
  }
}
.checkbox_with-text {
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  &:hover &__btn {
    opacity: 1;
  }
  // &:last-child .seller-info__popup {
  //   top: 0;
  //   left: 25px;
  //   transform: translateY(-100%);
  // }

  &__checkbox {
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__img {
  }

  &__good-info {
    flex: 1;
  }

  &__btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    width: 100px;
  }

  &__count {
  }

  &__limit {
    width: 100%;
    color: $orange;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }

  &__btn {
    opacity: 0;
    transition: opacity 0.8s;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    width: 110px;
  }

  &__price-new {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  &__price-old {
    color: $gray;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    border-bottom: 1px dashed $gray;
    text-decoration: line-through;
    cursor: pointer;
  }
  &__price-wrap {
    position: relative;
  }
  &__price-wrap:hover .item__discount-popup {
    display: flex;
  }

  &__discount-popup {
    display: none;
    position: absolute;
    right: -9px;
    margin-top: 9px;
    background: $white;
    border-radius: 8px;
    padding: 11px 16px 13px;
    flex-direction: row;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  }

  &__discount-key {
    color: $light-gray;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  &__discount-value {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
  }

  &__discount-currency {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
  }
}

.good-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__title {
  }

  &__name {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    color: $black;
  }

  &__properties {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    gap: 16px;
  }

  &__item {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
  }

  &__store {
    color: $gray;
  }

  &__seller {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $gray;
  }

  &__seller-info {
  }
}

.seller-info {
  position: relative;

  &__icon {
    cursor: pointer;
  }

  &__popup {
    display: none;
    position: absolute;
    top: 25px;
    left: 10px;
    transform: translateX(-50%);
    background: $white;
    border-radius: 8px;
    padding: 6px 16px 18px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    gap: 8px;
    color: $black;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    width: 280px;
  }

  &__name {
    font-weight: 700;
  }

  &__registration {
  }

  &__address {
  }

  &:hover .seller-info__popup {
    display: flex;
  }
}

.count {
  width: 100px;
  height: 44px;
  border-radius: 8px;
  background: $white;
  display: flex;
  align-items: center;
  padding: 0 4px;

  &__minus {
    width: 24px;
    padding: 2px 7px 6px 8px;
    background: $white;
  }

  &__numeric {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 44px;
  }

  &__plus {
    width: 24px;
    padding: 2px 7px 6px 8px;
    background: $white;
  }

  &__limit {
    color: $rulers;
    cursor: default;
  }

  &__numeric::-webkit-outer-spin-button,
  &__numeric::-webkit-inner-spin-button {
    display: none;
  }
}

.btn {
  display: flex;
  gap: 16px;
  & span {
    font-size: 0;
  }

  &__postpone {
    background: transparent;
    &:hover path {
      stroke: $accent;
    }

    &_active path {
      fill: $accent;
      stroke: $accent;
    }
  }

  &__del {
    background: transparent;
    &:hover path {
      fill: $orange;
    }
  }
}
.not-available {
}

/*--------------------*/
