@import "_variables";

/*_basket*/

.basket {
  &__title {
    padding-bottom: 23px;
    font-size: 28px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: -0.4px;
    padding-top: 3px;
    @media (max-width: 768px) {
      padding: 0;
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.2px;
    }
  }

  &__accordion {
    margin-bottom: 40px;
    @media (max-width: 768px) {
      margin-bottom: 48px;
    }
  }
}
.accordion {
  &__header {
    padding-bottom: 16px;
    border-bottom: 1px solid $rulers;
    @include flex-row-space-b;
    @media (max-width: 768px) {
      border-bottom: none;
    }
  }

  &__checkbox {
    display: flex;
  }

  &__info {
    @include subtitles;
    display: none;
    & span:last-child {
      &::before {
        content: " · ";
      }
    }

    &__count {
    }
  }

  &__icon {
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.3s;
    padding: 3px 2px;
    &:hover path {
      fill: $black;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: height 0.5s;
    // overflow: hidden;
    @media (max-width: 768px) {
      gap: 16px;
    }
  }

  &__item {
    padding-top: 12px;
    @media (max-width: 768px) {
      border-top: 1px solid $rulers;
    }
  }

  &_close {
    .accordion {
      &__checkbox {
        display: none;
      }
      &__info {
        display: block;
      }
      &__icon {
        transform: rotate(180deg);
      }
      &__body {
        display: none;
      }
    }
  }
}

.accordion.not-available {
  margin-top: -5px;
  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 35px;
  }
  .accordion {
    &__checkbox {
      display: none;
    }

    &__info {
      display: block;
    }

    &__item {
    }

    &_close {
      .accordion {
        &__checkbox {
          display: none;
        }
        &__info {
          display: block;
        }
      }
    }
  }
  .good-info {
    @media (max-width: 768px) {
      grid-area: B;
    }

    &__name {
      color: $gray;
      max-width: 309px;
    }

    &__properties {
      color: $gray;
    }
  }

  .item__btn-wrap {
    @media (max-width: 768px) {
      justify-content: flex-end;
    }
  }
}

.item {
  display: grid;
  grid-template-columns: 106px auto 100px 110px;
  align-items: flex-start;
  gap: 16px;
  &:hover &__btn {
    opacity: 1;
  }
  @media (max-width: 768px) {
    grid-template-columns: 80px auto;
    grid-template-areas:
      "A B  "
      "A C "
      "D D ";
    column-gap: 16px;
    row-gap: 0;
  }

  &__checkbox {
    @media (max-width: 768px) {
      position: absolute;
      top: 4px;
      left: 4px;
      & .checkbox__decor {
        background: $white;
      }
      &.checkbox_active {
        .checkbox__decor {
          width: 22px;
          height: 22px;
          border: none;
          background: url(../img/checkbox.svg);
        }
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: 768px) {
      grid-area: A;
    }
  }

  &__img {
    height: 96px;
    & img {
      height: 100%;
    }
    @media (max-width: 768px) {
      height: 106px;
    }
  }
  &__size-mobile {
    width: 22px;
    height: 22px;
    border-radius: 6px;
    background: $white;
    @include regular_14px;
    @include flex-row;
    justify-content: center;
    @media (max-width: 768px) {
      position: absolute;
      bottom: 4px;
      left: 4px;
    }
  }

  &__good-info {
    @media (max-width: 768px) {
      grid-area: C;
    }
  }

  &__btn-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    @media (max-width: 768px) {
      @include flex-row-space-b;
      gap: 0;
      grid-area: D;
      padding-top: 12px;
      // grid-column: span 2;
    }
  }

  &__count {
  }

  &__limit {
    width: 100%;
    color: $orange;
    @include regular_13px;
    display: inline-flex;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__btn {
    opacity: 0;
    transition: opacity 0.8s;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    @media (max-width: 768px) {
      grid-area: B;
      flex-direction: row;
      align-items: center;
    }
  }

  &__price-new {
    @include subtitles-bold;
    &_big {
      font-size: 20px;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__price-old {
    display: inline-flex;
    color: $gray;
    @include regular_13px;
    border-bottom: 1px dashed $gray;
    text-decoration: line-through;
    cursor: pointer;
  }
  &__price-wrap {
    position: relative;
  }
  &__price-wrap:hover .item__discount-popup {
    display: flex;
  }

  &__discount-popup {
    display: none;
    position: absolute;
    right: -9px;
    margin-top: 9px;
    background: $white;
    border-radius: 8px;
    padding: 11px 16px 13px;
    flex-direction: row;
    @include regular_13px;
    white-space: nowrap;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  }

  &__discount-key {
    color: $light-gray;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  &__discount-value {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
  }

  &__discount-currency {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
  }
}

.good-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &__title {
  }

  &__name {
    display: inline-block;
    @include regular_16px;
    color: $black;
    max-width: 275px;

    @media (max-width: 768px) {
      @include regular_14px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &__properties {
    @include regular_13px;
    display: flex;
    gap: 16px;
  }

  &__item {
    @include regular_13px;
  }

  &__store {
    color: $gray;
  }

  &__seller {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $gray;
    margin-top: -4px;
  }

  &__seller-info {
  }
}

.seller-info {
  position: relative;
  height: 16px;

  &__icon {
    display: inline-block;
    cursor: pointer;
    height: 16px;
    width: 16px;
    background-image: url(../img/seller-info.svg);
    background-position: center;
  }

  &__popup {
    display: none;
    position: absolute;
    top: 25px;
    left: 10px;
    transform: translateX(-50%);
    background: $white;
    border-radius: 8px;
    padding: 6px 16px 18px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    gap: 8px;
    color: $black;
    @include regular_13px;
    width: 280px;
  }

  &__name {
    font-weight: 700;
  }

  &__registration {
  }

  &__address {
  }

  &:hover .seller-info__popup {
    display: flex;
  }
}

.count {
  width: 100px;
  height: 44px;
  border-radius: 8px;
  background: $white;
  display: flex;
  align-items: center;
  padding: 0 4px;

  &__minus {
    width: 24px;
    padding: 2px 7px 6px 8px;
    background: $white;
    font-size: 20px;
  }

  &__numeric {
    text-align: center;
    @include regular_16px;
    width: 44px;
  }

  &__plus {
    width: 24px;
    padding: 2px 7px 6px 8px;
    background: $white;
    font-size: 20px;
  }

  &__limit {
    color: $rulers;
    cursor: default;
  }

  &__numeric::-webkit-outer-spin-button,
  &__numeric::-webkit-inner-spin-button {
    display: none;
  }
  @media (max-width: 768px) {
    width: 80px;
    height: 32px;
    &__numeric {
      @include regular_14px;
      width: 32px;
    }
  }
}

.btn {
  display: flex;
  gap: 16px;
  @media (max-width: 768px) {
    gap: 24px;
    padding-right: 12px;
  }
  & span {
    font-size: 0;
  }

  &__postpone {
    background: transparent;
    &:hover path {
      stroke: $accent;
    }

    &_active path {
      fill: $accent;
      stroke: $accent;
    }
  }

  &__del {
    background: transparent;
    &:hover path {
      fill: $orange;
    }
  }
}
.not-available {
}

/*--------------------*/
