/*variables*/
$violet: #6725a8;
$orange: #f55123;
$smoky: #f6f6fa;
$white: #fff;
$accent: #cb11ab;
$black: #000000;
$green: #0cb477;
$gray: #9797af;
$rulers: #0000001a;
$rulers_input: #00000033;
/*--------------------*/
