/*variables*/
$violet: #6725a8;
$orange: #f55123;
$smoky: #f6f6fa;
$white: #fff;
$accent: #cb11ab;
$black: #000000;
$green: #0cb477;
$gray: #9797af;
$light-gray: #a0a0a4;
$rulers: #0000001a;
$rulers_input: #00000033;
/*--------------------*/

/*mixins*/
@mixin titles {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.7px;
  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
}

@mixin subtitles {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

@mixin subtitles-bold {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@mixin regular_16px {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
}

@mixin regular_14px {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin regular_13px {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.18px;
}

@mixin flex-row-space-b {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*--------------------*/
