@import "_nullstyle";
@import "_variables";
@import "_footer";
@import "_header";
@import "_navbar_mobile";
@import "_basket";
@import "_basket-form";

body {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
}

.main {
  flex: 1 1 auto;
  background: $smoky;
  padding: 10px 24px 26px;
  @media (max-width: 768px) {
    padding: 0 16px;
  }
}
.hide-mobile {
  @media (max-width: 768px) {
    display: none !important;
  }
}
.hide-desktop {
  @media (min-width: 769px) {
    display: none !important;
  }
}
